<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="static/css/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>  
   <u> <h1 class="heading">HOME PAGE</h1></u>
    <h2>We are learning FLASK 😊</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus ipsa asperiores, dicta sunt similique veniam porro aut id distinctio nobis soluta odio quam ullam laudantium sapiente odit labore voluptas quisquam.</p>

    <br><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, reiciendis consectetur. Quas itaque officia aliquam ipsa voluptatibus aut nam, totam consequatur quasi cum facilis sint in libero consequuntur eius fugiat.</p>
    <!-- <a href="http://127.0.0.1:5000/about"><button>ABOUT</button></a> -->
    <a href="/about"><button>ABOUT</button></a>
    <a href="/contact"><button>CONTACT</button></a>
    <a href="/service"><button>SERVICE</button></a>
    <a href="/login"><button>LOGIN</button></a><br><br>
    <img src="static/images/test.jpg" alt="">
     <!-- <img src="http://127.0.0.1:5000/static/images/test.jpg" alt=""> -->

    
</body>
</html>