<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN </title>
</head>
<body>
   
   <div class="login">
        <h1>LOGIN PAGE 😁</h1>
        <div>
            <h2>Please Fill The Details....!!</h2>
     
               <form action="{{ url_for('logindata') }}" method="post">
                <label for="USERNAME">NAME: </label>
                <input type="text" name="name" placeholder="Enter Your Name" required>


                <label for="">E-MAIL:</label>
                <input type="email" name="e_mail" placeholder="enter your e-mail" required><br><br>


                <label for="">password</label>
                <input type="password" name="password" placeholder="password" required>
                <br><br>
                

                <button type="submit">SUBMIT</button>
            </form>
        </div>
   
</body>
</html>
