<!-- HOME PAGE
GO TO PREDICTION  
ABOUT YOUR SELF 
ABOUT YOUR PROJECT 
CONTACT -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 </head>
 <body>
    <h2>Welcome to you in AIrline application</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, maiores eius! Voluptate facilis quaerat facere maiores minima voluptatibus dicta rerum laborum iusto! Quibusdam quisquam facere repellat harum. Magnam, exercitationem voluptates!</p>
    <a href="/application"><button>Go To Application</button></a>
    <br><br><br><br><br> 
    <hr>
    <h2>ABOUT YOUR PROJECT</h2>
    <br><br><br><br><br> 

<hr>
    <h2>ABOUT YOURSELF</h2>
    <br><br><br><br><br> 

    <hr>
    <h2>CONTACT</h2>
    <br><br><br><br><br> 

    <hr>
    <h2>FEEDBACK</h2>
    <br><br><br><br><br> 




</body>
 </html>